.pdf-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.pdf-wrapper.pdf-row {
  flex-direction: row;
}

.pdf-wrapper.pdf-column {
  flex-direction: column;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.pdf-container.pdf-with-border {
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
}

.pdf-page-text {
  background-color: var(--color-text-white);
  padding: 0.4rem;
}
