.pdf-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.pdf-wrapper.pdf-row {
  flex-direction: row;
}

.pdf-wrapper.pdf-column {
  flex-direction: column;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  box-shadow:
    0 1rem 2rem rgba(0, 0, 0, 0.19),
    0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}

.pdf-container.pdf-with-border {
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
}

.pdf-page-text {
  padding: 0.4rem;
  background-color: #e4e4e4;
}
