.view-style {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 100%;
  z-index: 2;
  /* Invisible, to show the background image. */
  background-color: rgba(245, 245, 245, 0);
}

.view-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
