.flip-card-wrapper {
    background-color: transparent;
    height: 300px;
    margin: 18px;
    perspective: 1000px;
    width: 300px;
}

.flip-card-wrapper h1,
.flip-card-wrapper p {
    color: #000;
}

.flip-card-wrapper:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-inner {
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    width: 100%;
}

.flip-card-front,
.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.flip-card-front {
    align-items: center;
    background-color: #e4e4e4;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 12px;
}

.flip-card-back {
    background-color: #bbb;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-image {
    height: auto;
    width: 100%;
}

.flip-card-button {
    background-color: #F2A65A;
    border-radius: 4px;
    border: 0px;
    bottom: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    font-size: 1.2rem;
    height: 50px;
    left: 10%;
    position: absolute;
    width: 80%;
}

.flip-card-button:hover {
    cursor: pointer;
    background-color: #f59a3e;
}
