.binder-view {
  align-items: center;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  flex-direction: column;
  height: 119.7rem;
  max-height: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 0 6rem 4rem 6rem;
  width: 79.5rem;
  word-break: break-word;
  word-wrap: break-word;
}

.text-section {
  flex-grow: 1;
}
