.binder-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79.5rem;
  height: 120rem;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0 6rem 4rem 6rem;
  box-sizing: border-box;
}

.binder-view s,
.binder-view del {
  display: inline;
  max-width: 100%;
  white-space: normal;
}
