.navigation-container {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  display: flex;
  height: 500px;
  justify-content: center;
  position: fixed;
  width: 80px;
  box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-right: 45px;
  z-index: 10;
}

.navigation-container * {
  box-sizing: border-box;
}

.navigation-container ul {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 0;
}

.navigation-container ul li:nth-child(1).active ~ .navigation-indicator {
  transform: translateY(25px) rotate(90deg);
}

.navigation-container ul li:nth-child(2).active ~ .navigation-indicator {
  transform: translateY(145px) rotate(90deg);
}

.navigation-container ul li:nth-child(3).active ~ .navigation-indicator {
  transform: translateY(265px) rotate(90deg);
}

.navigation-container ul li:nth-child(4).active ~ .navigation-indicator {
  transform: translateY(385px) rotate(90deg);
}

.navigation-indicator {
  background: #fff;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  right: -35px;
  transition: 0.5s;
  width: 70px;
  z-index: 1;
}

.navigation-indicator::before {
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
  content: "";
  height: 30px;
  left: -28px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.navigation-indicator::after {
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff;
  content: "";
  height: 30px;
  position: absolute;
  right: -28px;
  top: 5px;
  width: 30px;
}

.navigation-list {
  height: 120px;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 2;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navigation-list.active .navigation-icon {
  color: #fff;
  transform: translateX(27px);
  transition-delay: 0.25s;
}

.navigation-icon {
  border-radius: 15% 25px 25px 15%;
  color: #222327;
  display: block;
  font-size: 1em;
  height: 55px;
  line-height: 65px;
  position: relative;
  transition-delay: 0s;
  transition: 0.5s;
  width: 160px;
  left: -40px;
}

.navigation-icon p {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 40px;
  margin: 0px;
  position: relative;
  width: 100%;
  z-index: 11;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}
