.contact-page {
  display: flex;
  flex-direction: column;
}

.map {
  flex: 1;
  min-height: 0;
  width: 100%;
  object-fit: cover;
}

.links {
  flex-shrink: 0;
  margin-top: 2rem;

  & a:hover {
    /* important required here to override default component styles  */
    color: var(--color-text-muted) !important;
  }
}
