/* !important necessary here to override React Three Fiber's inline styling of the Canvas component. */
.main-canvas {
  display: block !important;
  touch-action: none !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.paper-effect {
  margin-top: 2rem;
}

.reset-zoom-container {
  bottom: 2rem;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: var(--z-modal);
}

.reset-zoom-container .binder-button {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
}
