@font-face {
  font-family: Comfortaa;
  src: url("./assets/fonts/Comfortaa-VariableFont_wght.ttf")
}

html,
body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_background_container {
  /* filter: blur(6px); */
  /* -webkit-filter: blur(6px); */
  width: 102vw;
  left: -1vw;
  position: fixed;
  box-sizing: border-box;
  object-fit: contain;
  height: 102vh;
}

.app_background {
  height: 100%;
  width: 100%;
}