/* !important necessary here to override React Three Fiber's inline styling of the Canvas component. */
.main-canvas {
  display: block !important;
  touch-action: none !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.binder-cover {
  width: 800px;
  height: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  flex-direction: column;

  .title {
    font-size: 140px;
  }

  .subtitle {
    font-size: 100px;
  }
}